<!DOCTYPE html>
<html>
    <head>
        <title>About page</title>
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p>This website created as a test application by Eli Nagar</p>
            <img class="dogimg" src="img/dog.png">
        </div>
        {{>footer}}
    </body>
</html>